.dialog {
  display: none;
  width: 300px;
  height: 160px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid #ededed;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
  padding: 20px;
}

.dialog.show {
  display: block;
}

.dialog .text {
  text-align: center;
}
.dialog .btns {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
